################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ZeDART_Plugins/FileContentIndex/b291e93e-47d0-45a9-81e1-94b63fcb4be3.vsidx
